.testimonials-section {
  background: linear-gradient(180deg,   #9eb1e7, #091ab9);
  color: #fff;
  text-align: center;
  padding: 20px 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background 0.6s ease-in-out;
}

.testimonials-title {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #000;
  transition: transform 0.4s ease;
  text-shadow: 0 2px 4px rgba(191, 220, 24, 0.2);
}

.testimonials-title:hover {
  transform: scale(1.05);
    text-shadow: 0 4px 8px rgba(194, 39, 39, 0.3);
}

.testimonials-subtitle {
  font-size: 1rem;
  color: #071336;
  max-width: 600px;
  margin: 0 auto 40px;
  transition: opacity 0.3s ease;
}

.testimonials-subtitle:hover {
  opacity: 0.85;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.testimonial-card {
  background-color: rgba(255, 255, 255, 0.247);
  padding: 25px 20px;
  border-radius: 14px;
  width: 250px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.testimonial-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.stars {
  color: gold;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.testimonial-text {
  font-size: 0.9rem;
  color: #e2eaff;
  margin-bottom: 15px;
}

.testimonial-name {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 4px;
}

.testimonial-role {
  font-size: 0.95rem;
  font-weight: bold;
  color: #d8e95a;
}

.testimonial-button {
  margin-top: 40px;
  padding: 12px 26px;
  background-color: #ff6c1b;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.testimonial-button:hover {
  background-color: #ff884d;
  transform: scale(1.05);
}


.testimonial-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px auto;
  transition: transform 0.4s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.testimonial-avatar:hover {
  transform: scale(1.1);
}
.testimonial-avatar:active {
  transform: scale(0.95);
}